$color-text-white: #ECF0F1;
$color-text-grey: #79797D;
$color-text-dark: #3B3E3F;
$color-line: #BEBEBE;
$color-main: #2185C5;
$color-bg-about: #fff;
$color-bg-education: #E7EBED;
$color-bg-mywork: #7F8E99;